body {
    font-family: 'Times New Roman', serif; /* Cambiar la fuente a Times New Roman */
    background-image: url('Fondo.jpg'); /* Cambiar 'fondo.jpg' por el nombre de tu imagen */
    background-size: cover; /* Asegura que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen */
    margin: 0;
    padding: 20px;
}

.container {
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 70% de transparencia para que se vea la imagen de fondo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada para el contenedor */
    max-width: 400px; /* Ancho máximo del contenedor */
    margin: auto; /* Centrar el contenedor */
    text-align: center; /* Centrar el texto */
}

h1 {
    color: white; /* Cambiar el color del texto a blanco para que contraste con el fondo negro */
}

p {
    color: white; /* Cambiar el color del texto a blanco */
    margin: 10px 0; /* Espaciado entre párrafos */
}
